    *{
        padding: 0;
        margin: 0;
    }
    html,body{
        height: 100%;
    }
  #iN{
    opacity: 0;
    transition: opacity 1s;
  }
  #iN:hover {
    opacity: 1;
  }
  .box1{
    background-color: rgb(121, 213, 216);
    width: 1%;
    height: 2%;
  }
  .box2{
    background-color: rgb(160, 58, 255);
    width: 2%;
    height: 4%;
  }
  .box3{
    background-color: rgb(88, 88, 240);
    width: 1.2%;
    height: 2.4%;
  }
  .box4{
    background-color: rgb(193, 70, 218);
    width: 1.3%;
    height: 2.6%;
  }
  .box5{
    background-color: rgb(206, 60, 60);
    width: 1.4%;
    height: 2.8%;
  }
  .box6{
    background-color: rgb(42, 110, 173);
    width: 1.5%;
    height: 3%;
  }
  .box7{
    background-color: rgb(30, 133, 90);
    width: 3%;
    height: 6%;
  }
  .box8{
    background-color: rgb(206, 198, 90);
    width: 2.5%;
    height: 5%;
  }
  .box9{
    background-color: rgb(156, 15, 15);
    width: 2.25%;
    height: 4.5%;
  }
  .box10{
    background-color: rgb(0,0,0);
    width: 2.3%;
    height: 4.6%;
  }
  div{
    float: left;
    margin: none;
    padding: none;
  }